@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
label {
  margin-bottom: 0px !important;
}

html,
body {
  scroll-behavior: smooth;
}

.book__btn {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  margin-left: 30px;
  padding: 12px 25px;
  border-radius: 8px;
  background: #f20487;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.book__btn img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  width: auto;
  height: 15px;
}

.book__btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.pur__btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  display: inline-block;
  padding: 18px 34px;
  border-radius: 8px;
  margin-right: 25px;
  background: #f20487;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
}

.pur__btn img {
  width: auto;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.add__btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  display: inline-block;
}

.add__btn img {
  width: auto;
  height: 20px;
  margin-right: 10px;
  margin-top: -2px;
}

.navbar__src {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 45px;
  margin-top: 4px;
}

.navbar__src i {
  color: #ffffff;
  font-size: 18px;
}

.navbar__src input {
  color: #ffffff;
  width: 100px;
  height: 25px;
  border: none;
  background: none;
  padding-left: 15px;
  border-right: 2px solid #6d6d9d;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.navbar__src input::-webkit-input-placeholder {
  color: #6d6d9d;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.navbar__src input:-ms-input-placeholder {
  color: #6d6d9d;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.navbar__src input::-ms-input-placeholder {
  color: #6d6d9d;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.navbar__src input::placeholder {
  color: #6d6d9d;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}

.navbar__src:focus-within input {
  width: 150px;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0px 0px;
  border-bottom: 1px solid #665daa;
  z-index: 1;
}

.navbar .container {
  max-width: 1300px;
}

.navbar .container .navbar-brand {
  padding: 0px 0px;
}

.navbar .container .navbar-collapse ul .nav-item {
  margin-left: 37px;
}

.navbar .container .navbar-collapse ul .nav-item .nav-link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  padding: 45px 0px 40px;
  position: relative;
}

.navbar .container .navbar-collapse ul .active .nav-link {
  border-bottom: 2px solid #f20487;
}

.navbar .container .navbar-collapse ul .active .nav-link::before {
  position: absolute;
  content: "";
  top: 52%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f20487;
}

.navbar .container .navbar-collapse .menu__btn .dots__btn {
  margin-left: 28px;
}

#banner__part {
  background: url(../../images/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#banner__part .yellow__shape {
  position: absolute;
  top: 270px;
  left: 0px;
}

#banner__part .right__dots {
  position: absolute;
  top: 200px;
  right: 0px;
}

#banner__part .down__dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#banner__part .container {
  position: relative;
}

#banner__part .container .bottom__shape {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#banner__part .container .banner__content {
  padding: 285px 0px 230px;
}

#banner__part .container .banner__content .banner__text {
  text-align: center;
}

#banner__part .container .banner__content .banner__text p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px !important;
}

#banner__part .container .banner__content .banner__text img {
  margin-bottom: 11px;
}

#banner__part .container .banner__content .banner__text h1 {
  color: #ffffff;
  font-size: 100px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 18px !important;
}

#banner__part .container .banner__content .banner__text h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  margin-bottom: 60px !important;
}

#banner__part .container .banner__content .banner__btn {
  text-align: center;
}

#banner__part .container .banner__content .banner__btn a:hover {
  color: #ffffff;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */